/* [ START ] Main Rules */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body {
    background: var(--main-bg) url(./svgs/pattern-background-desktop.svg) no-repeat top / contain;
    font-family: 'Red Hat Display', sans-serif;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center
}
@media screen and (max-width: 768px) {
    body {
        background-image: url(./svgs/pattern-background-mobile.svg);
    }
}
:root {
    --main-bg: #E0E8FF;
    --dark-navy: #1F2E55;
    --white: #FFFFFF;
    --blue: #382AE1;
    --pale-blue: #766CF1;
    --grey: #717FA6;
    --pale-grey: #F7F9FF
}
/* [ END ] Main Rules */
/* [ START ] BOX Section */
.box {
    background-color: var(--white);
    border-radius: 1.25rem;
    box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.15);
    text-align: center
}
@media screen and (max-width: 768px) {
    .box { width: 20.4375rem }
}
.box > img {
    width: 100%;
    border-radius: 1.25rem 1.25rem 0 0;
    margin-bottom: 2.8125rem
}
.box h1 {
    font-size: 1.75rem;
    font-weight: 900;
    color: var(--dark-navy);
    margin-bottom: 1.0625rem
}
@media screen and (max-width: 768px) {
    .box h1 {
        font-size: 1.375rem;
        margin-bottom: 1rem
    }
}
.box p {
    color: var(--grey);
    font-size: 1rem;
    font-weight: 500;
    max-width: 21.5625rem;
    margin: auto auto 1.25rem;
    line-height: 162.5%
}
@media screen and (max-width: 768px) {
    .box p {
        font-size: 0.9375rem;
        max-width: 16.3125rem
    }
}
.box .pricing {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1.25rem;
    background-color: var(--pale-grey);
    padding: 1.5rem 1.5625rem;
    margin: 0 3rem;
    border-radius: 0.6875rem
}
@media screen and (max-width: 768px) {
    .box .pricing {
        padding: 1rem;
        margin: 0 1.5rem
    }
}
.box .pricing > div {
    flex-grow: 1;
    text-align: left
}
.box .pricing > div h2 {
    color: var(--dark-navy);
    font-size: 1rem;
    font-weight: 900
}
@media screen and (max-width: 768px) {
    .box .pricing > div h2 { font-size: 0.875rem }
}
.box .pricing > div h3 {
    color: var(--grey);
    font-size: 1rem;
    font-weight: 500
}
@media screen and (max-width: 768px) {
    .box .pricing > div h3 { font-size: 0.875rem }
}
.box .pricing h4 {
    color: var(--blue);
    font-size: 0.875rem;
    font-weight: 700;
    text-decoration-line: underline
}
@media screen and (max-width: 768px) {
    .box .pricing h4 { font-size: 0.8125rem }
}
.box .pricing h4:hover {
    cursor: pointer;
    color: var(--pale-blue);
    text-decoration-line: unset
}
.box button {
    margin: 2rem 0;
    padding: 0.9375rem 6.375rem;
    border: none;
    border-radius: 0.6875rem;
    background: var(--blue);
    box-shadow: 0px 20px 20px 0px rgba(56, 42, 225, 0.19);
    color: var(--white);
    font-size: 0.9375rem;
    font-weight: 900;
    font-family: inherit
}
@media screen and (max-width: 768px) {
    .box button {
        margin: 1.5rem 0;
        padding: 0.9375rem 4rem
    }
}
.box button:hover {
    cursor: pointer;
    background: var(--pale-blue)
}
.box h5 {
    color: var(--grey);
    font-size: 0.9375rem;
    font-weight: 900;
    margin-bottom: 3rem
}
@media screen and (max-width: 768px) {
    .box h5 { margin-bottom: 2rem }
}
.box h5:hover {
    cursor: pointer;
    color: var(--dark-navy)
}
/* [ END ] BOX Section */